body {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
}

table {
    margin-left:auto;margin-right:auto;
}

section {
    padding: 20px;
}

h1 {
    color: darkblue;
}
